<template>
  <div id="distributePanel" />
</template>

<script>
import echarts from 'echarts'

export default {
  props: {
    warnnum: {
      type: Number,
      default: 0
    },
    totalnum: {
      type: Number,
      default: 100
    }
  },
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.initChart()

    this.chart.dispatchAction({
      type: 'highlight',
      seriesIndex: 0,
      dataIndex: 0
    })

    this.chart.on('mouseover', e => {
      if (e.dataIndex !== 0) {
        this.chart.dispatchAction({
          type: 'downplay',
          seriesIndex: 0,
          dataIndex: 0
        })
        this.chart.dispatchAction({
          type: 'highlight',
          seriesIndex: e.dataIndex,
          dataIndex: e.dataIndex
        })
      }
    })

    this.chart.on('mouseout', () => {
      this.chart.dispatchAction({
        type: 'highlight',
        seriesIndex: 0,
        dataIndex: 0
      })
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(document.getElementById('distributePanel'))

      this.chart.setOption({
        tooltip: {
          show: false,
          trigger: 'item',
          formatter: `{a} <br/>{b}: {c} ({d}%) <br/>总节点数: ${this.totalnum}`
        },
        legend: {
          orient: 'vertical',
          left: 10,
          data: ['报警节点', '正常节点']
        },
        color: ['#E9C162', '#79C668'],
        series: [
          {
            name: '节点类型',
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
              show: false,
              position: 'center'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '14',
                fontWeight: 'bold',
                formatter: `{a} \n{b}: {c} ({d}%) \n总节点数: ${this.totalnum}`
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: this.warnnum, name: '报警节点' },
              { value: this.totalnum - this.warnnum, name: '正常节点' }
            ]
          }
        ]
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#distributePanel {
  width: 323px;
  height: 100%;
  margin: 30px auto;
}
</style>
