<template>
  <div class="temperature-panel-con">
    <div class="temperature-panel-con-header">
      <el-select
        v-model="currentNode"
        placeholder="请选择"
        :style="{
          'margin-top': '20px'
        }"
      >
        <el-option
          v-for="item in rankdata"
          :key="item.id"
          :label="item.name"
          :value="+item.id"
        />
      </el-select>
    </div>
    <div id="tempChart" />
  </div>
</template>

<script>
import echarts from 'echarts'

export default {
  props: {
    rankdata: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      currentNode: 1,
      currentNodeData: this.rankdata[0],
      chart: null
    }
  },
  watch: {
    currentNode(val) {
      this.currentNodeData = this.rankdata.filter(item => +item.id === +val)[0]
      this.initChart()
    }
  },
  mounted() {
    this.initChart()
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(document.getElementById('tempChart'))

      this.chart.setOption({
        tooltip: {
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          },
          formatter: '时间点：{b}h <br/> 节点温度：{c}℃'
        },
        grid: {
          left: '3%',
          right: '6%',
          bottom: '3%',
          top: '8%',
          containLabel: true
        },
        xAxis: {
          name: '时间(h)',
          nameGap: '5',
          type: 'category',
          boundaryGap: false,
          data: ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
          axisLabel: {
            formatter: '{value} h'
          }
        },
        yAxis: {
          name: '温度(℃)',
          nameGap: '5',
          type: 'value',
          axisLabel: {
            formatter: '{value}'
          }
        },
        series: [{
          name: '节点温度',
          label: {
            normal: {
              show: true,
              position: 'top',
              color: '#ffa100'
            }
          },
          data: this.currentNodeData.data,
          type: 'line',
          lineStyle: {
            color: '#ffa100',
            width: 3
          }
        }]
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.temperature-panel-con {
  height: 100%;
}
#tempChart {
  margin-top: 20px;
  width: 750px;
  height: 80%;
}
</style>
