<template>
  <div id="history-line-chart" />
</template>

<script>
import echarts from 'echarts'

export default {
  props: {
    datalist: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      chart: null
    }
  },
  computed: {
    chartYData() {
      const yDataTemp = []
      this.datalist.map(item => {
        const arr = item.history.map(history => history.value)
        yDataTemp.push(arr)
      })
      return yDataTemp
    },
    chartXData() {
      let xDataTemp = []
      if (this.datalist.length) {
        xDataTemp = this.datalist[0].history.map(history => history.date)
      }
      return xDataTemp
    },
    chartLegend() {
      const legendTemp = this.datalist.map(item => item.name)
      return legendTemp
    }
  },
  watch: {
    datalist() {
      this.initChart()
    }
  },
  mounted() {
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(document.getElementById('history-line-chart'))

      const chartSeries = []

      this.chartLegend.map(item => {
        chartSeries.push({
          type: 'line',
          name: item
        })
      })

      this.chartYData.map((item, index) => {
        chartSeries[index].data = item
      })

      this.chart.setOption({
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: this.chartLegend
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: this.chartXData
        },
        yAxis: {
          type: 'value'
        },
        series: chartSeries
      })
    }
  }
}
</script>

<style lang="scss" scoped>
#history-line-chart {
  width: 1200px;
  height: 600px;
}
</style>
