<template>
  <div :id="`bar-chart-${options.id}`" class="bar-chart" />
</template>

<script>
import echarts from 'echarts'

export default {
  props: {
    options: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      chart: null
    }
  },
  mounted() {
    this.initChart()
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      const value = +this.options.actual // 当前值
      const lowest = +this.options.lowest // 下限值
      const highest = +this.options.highest // 上限值
      const chartId = `bar-chart-${this.options.id}`
      this.chart = echarts.init(document.getElementById(chartId))

      this.chart.setOption({
        itemStyle: {
          color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [{
            offset: 0,
            color: '#F0AD45' // 0% 处的颜色
          }, {
            offset: 1,
            color: '#F5EDDE' // 100% 处的颜色
          }], false)
        },
        grid: {
          left: '3%',
          right: '13%',
          bottom: '3%',
          top: '30%',
          containLabel: true
        },
        yAxis: {
          type: 'category',
          data: []
        },
        xAxis: {
          type: 'value',
          max: highest
        },
        series: [
          {
            data: [value],
            type: 'bar',
            label: {
              show: true,
              position: 'insideRight',
              fontSize: 10,
              color: 'green',
              formatter: '当前值: {c}'
            },
            barWidth: 15,
            markLine: {
              data: [
                {
                  name: '下限值',
                  xAxis: lowest,
                  label: {
                    show: true,
                    position: 'end',
                    formatter: '{b}: {c}'
                  },
                  lineStyle: {
                    color: '#000'
                  }
                },
                {
                  name: '上限值',
                  xAxis: highest,
                  label: {
                    show: true,
                    position: 'end',
                    formatter: '{b}: {c}'
                  },
                  lineStyle: {
                    color: 'red'
                  }
                }
              ]
            }
          }
        ]
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.bar-chart {
  width: 270px;
  height: 100px;
}
</style>
