// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    min-width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-button {
  &.el-button--primary {
    background-color: $themeColor;
    border: none;
  }
}

.el-pagination {
  .el-pager {
    li {
      &.active, &:hover {
        color: $themeColor;
      }
    }
  }
}

.el-range-editor {
  &.is-active {
    border-color: $themeColor!important;
  }
}

.el-select {
  .el-input {
    &.is-focus {
      .el-input__inner {
        border-color: $themeColor;
      }
    }
  }
}

.el-select {
  .el-input__inner {
    &:focus {
      border-color: $themeColor!important;
    }
  }
}

.el-select-dropdown__item {
  &.selected {
    color: $themeColor;
  }
}
