// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$themeColor: rgb(224, 129, 67);

// sidebar
$menuText:#FFF;
$menuActiveText:#FFF;
$subMenuActiveText:#FFF; // https://github.com/ElemeFE/element/issues/12951

$menuBg:rgb(90, 90, 90);
$menuHover:$themeColor;

$subMenuBg:rgb(90, 90, 90);
$subMenuHover:$themeColor;
$menuActiveBg: $themeColor;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuActiveBg: $menuActiveBg;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  themeColor: $themeColor;
}
