<template>
  <section class="node-container">
    <div class="table-header">
      <div class="l">
        <div class="table-header-item">
          <span class="table-header-item-label">
            节点ID:
          </span>
          <el-select
            v-model="tableSearchData.idValue"
            placeholder="请选择节点ID（支持输入查询)"
            filterable
            clearable
            :style="{
              width: '300px'
            }"
          >
            <el-option
              v-for="item in selectIDOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div>

        <div v-if="checkPermission(['admin'])" class="table-header-item">
          <span class="table-header-item-label">
            维护人员:
          </span>
          <el-select
            v-model="tableSearchData.stickValue"
            placeholder="请选择维护人员（支持输入查询)"
            filterable
            :style="{
              width: '300px'
            }"
          >
            <el-option
              v-for="item in selectStickOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div>

        <el-button type="primary" size="small" @click="handleSearch">查询</el-button>
      </div>

      <div class="r">
        <el-button
          v-if="checkPermission(['admin'])"
          icon="el-icon-circle-plus-outline"
          type="primary"
          size="small"
          @click="handleAddDialog"
        >
          新增
        </el-button>
      </div>
    </div>
    <div class="table-main">
      <el-table
        :data="tableData"
        style="width: 100%"
      >
        <el-table-column
          prop="id"
          label="ID"
        />
        <el-table-column
          prop="name"
          label="节点名称"
        />
        <el-table-column
          prop="lowest"
          label="下限值"
        />
        <el-table-column
          prop="highest"
          label="上限值"
        />
        <el-table-column
          prop="actual"
          label="当前值"
        />
        <el-table-column
          v-if="checkPermission(['admin'])"
          prop="person"
          label="所属运维人员"
        />
        <el-table-column
          prop="useStatus"
          label="使能情况"
        />
        <el-table-column label="状态">
          <template slot-scope="scope">
            {{ +scope.row.tempStatus ? '开启中' : '已关闭' }}
          </template>
        </el-table-column>
        <el-table-column label="操作" width="100">
          <template slot-scope="scope">
            <i
              title="编辑节点"
              :style="{
                marginRight: '20px',
                cursor: 'pointer'
              }"
              class="el-icon-edit-outline"
              @click="toggleSettingDialog(scope.row)"
            />
            <i
              title="节能设置"
              :style="{
                marginRight: '20px',
                cursor: 'pointer'
              }"
              class="el-icon-setting"
              @click="toggleElectDialog(scope.row)"
            />
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination
        :current-page.sync="pageParam.page"
        :page-size="pageParam.limit"
        :total="pageParam.total"
        layout="prev, pager, next"
        @current-change="fetchData"
      />
    </div>

    <el-dialog
      title="节点设置"
      :visible.sync="dialogSettingFormVisible"
      class="node-dialog"
      width="700px"
    >
      <el-form :model="currentNodeForm">
        <el-form-item label="节点名称" :label-width="'120px'">
          <el-input v-model="currentNodeForm.name" autocomplete="off" />
        </el-form-item>
        <el-form-item label="节点上限" :label-width="'120px'">
          <el-input v-model="currentNodeForm.highest" autocomplete="off" />
        </el-form-item>
        <el-form-item label="节点下限" :label-width="'120px'">
          <el-input v-model="currentNodeForm.lowest" autocomplete="off" />
        </el-form-item>
        <el-form-item label="运维人员" :label-width="'120px'">
          <el-select v-model="currentNodeForm.person" placeholder="请选择运维人员">
            <el-option
              v-for="(item, index) in selectStickOptions"
              :key="index"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="节点状态" :label-width="'120px'">
          <el-switch
            v-model="currentNodeForm.status"
            active-color="#13ce66"
            inactive-color="#ff4949"
            active-text="开启"
            inactive-text="关闭"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogSettingFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleSettingSubmit">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog
      :title="dialogType === 'update' ? '新增节点' : '节点编辑'"
      :visible.sync="dialogElectFormVisible"
      class="elect-dialog"
      width="700px"
    >
      <el-form :model="currentElectForm">
        <el-form-item label="属性一" :label-width="'120px'">
          <el-input v-model="currentElectForm.a" autocomplete="off" />
        </el-form-item>
        <el-form-item label="属性二" :label-width="'120px'">
          <el-input v-model="currentElectForm.b" autocomplete="off" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogElectFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleElectSubmit">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
import checkPermission from '@/utils/permission' // 权限判断函数

export default {
  data() {
    return {
      selectIDOptions: [{
        value: '1',
        label: '1'
      }, {
        value: '2',
        label: '2'
      }],
      selectStickOptions: [{
        value: '1',
        label: '维护人员一'
      }, {
        value: '2',
        label: '维护人员二'
      }],
      tableSearchData: {
        idValue: '',
        stickValue: ''
      },
      tableData: [],
      tableViewType: 2,
      pageParam: {
        total: 100,
        limit: 5,
        page: 1
      },
      currentNodeForm: {
        name: '',
        highest: '',
        lowest: '',
        person: '',
        status: ''
      },
      // 具体字段自己写
      currentElectForm: {
        a: '',
        b: ''
      },
      dialogSettingFormVisible: false,
      dialogElectFormVisible: false,
      dialogType: 'update'
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    checkPermission,
    fetchData() {
      setTimeout(() => {
        this.tableData = [{
          id: '1',
          name: 'XXXX',
          electric: 'XXXX',
          person: '1',
          lowest: 'XXXX',
          highest: 'XXXX',
          actual: 'XXXX',
          useStatus: 'XXXX',
          status: 1
        }, {
          id: '2',
          name: 'XXXX',
          electric: 'XXXX',
          person: '2',
          lowest: 'XXXX',
          highest: 'XXXX',
          actual: 'XXXX',
          useStatus: 'XXXX',
          status: 0
        }, {
          id: '3',
          name: 'XXXX',
          electric: 'XXXX',
          person: '2',
          lowest: 'XXXX',
          highest: 'XXXX',
          actual: 'XXXX',
          useStatus: 'XXXX',
          status: 0
        }, {
          id: '4',
          name: 'XXXX',
          electric: 'XXXX',
          person: '1',
          lowest: 'XXXX',
          highest: 'XXXX',
          actual: 'XXXX',
          useStatus: 'XXXX',
          status: 1
        }]
      }, 200)
    },
    handleSearch() {
      console.log(this.tableSearchData)
      this.fetchData()
    },
    // 视图切换
    changeViewType() {
      if (!this.tableData.length) return
      this.tableViewType = this.tableViewType === 1 ? 2 : 1
    },
    toggleSettingDialog(node = {}) {
      if (node.id) {
        this.dialogType = 'update'

        this.currentNodeForm.id = node.id
        this.currentNodeForm.name = node.name
        this.currentNodeForm.highest = node.highest
        this.currentNodeForm.lowest = node.lowest
        this.currentNodeForm.person = node.person
        this.currentNodeForm.status = +node.status
      }
      this.dialogSettingFormVisible = !this.dialogSettingFormVisible
    },
    toggleElectDialog(node = {}) {
      // 使能节点具体什么操作自己写
      this.dialogElectFormVisible = !this.dialogElectFormVisible
    },
    handleSettingSubmit() {
      if (this.dialogType === 'update') {
        console.log('更新节点信息')
        console.log(this.currentNodeForm)
      }

      if (this.dialogType === 'add') {
        console.log('新增节点信息')
        console.log(this.currentNodeForm)
      }

      this.dialogSettingFormVisible = false
    },
    handleElectSubmit() {
      console.log(this.currentElectForm)
      this.dialogElectFormVisible = false
    },
    handleAddDialog() {
      this.dialogType = 'add'

      this.currentNodeForm.name = ''
      this.currentNodeForm.highest = ''
      this.currentNodeForm.lowest = ''
      this.currentNodeForm.person = ''
      this.currentNodeForm.status = ''

      this.dialogSettingFormVisible = true
    }
  }
}
</script>

<style lang="scss" scoped>
.node-container {
  min-height: calc(100vh - 50px);
  background: rgb(240, 240, 240);
  padding: 0 20px 20px 20px;
  .table-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .l {
      display: flex;
    }
    .r {
      .svg-icon {
        display: block;
        width: 31px;
        height: 26px;
        cursor: pointer;
        color: rgb(224, 129, 67);
      }
    }
    .table-header-item {
      display: flex;
      align-items: center;
      margin-right: 30px;
      .table-header-item-label {
        margin-right: 10px;
      }
    }
  }
}
</style>

<style lang="scss">
.node-container {
  .table-main {
    .el-table {
      th {
        text-align: center;
      }
      tbody {
        tr {
          .cell {
            text-align: center;
          }
        }
      }
    }
  }
  .table-pagination {
    margin-top: 20px;
  }
  .node-dialog, .elect-dialog {
    .el-form-item {
      width: 500px;
    }
  }
}
</style>
