<template>
  <div class="dashboard-container">
    <div class="dashboard-top">
      <div class="summary-panel panel">
        <p class="title">报警数据</p>
        <div class="panel-con">
          <div class="item">
            <div class="icon-circle">
              <img src="../../assets/imgs/icon-collect.png" alt="">
            </div>
            <div class="info">
              <div class="desc">采集节点总数</div>
              <div class="num">208</div>
            </div>
            <div class="href" @click="$router.push('/monitor/index')">详情 >></div>
          </div>
          <div class="item">
            <div class="icon-circle">
              <img src="../../assets/imgs/icon-warn.png" alt="">
            </div>
            <div class="info">
              <div class="desc">报警节点总数</div>
              <div class="num red">20</div>
            </div>
            <div class="href" @click="$router.push('/monitor/over')">详情 >></div>
          </div>
          <!-- <div class="item">
            <div class="icon-circle" />
            <div class="info">
              <div class="desc">今日新增报警数</div>
              <div class="num">4</div>
            </div>
          </div>
          <div class="item">
            <div class="icon-circle" />
            <div class="info">
              <div class="desc">今日处理报警数</div>
              <div class="num">8</div>
            </div>
          </div> -->
        </div>
      </div>

      <div class="distribute-panel panel">
        <p class="title">报警分布</p>
        <div class="panel-con">
          <!-- 这里只显示报警占总节点数的百分比，后面数据要换成接口数据 -->
          <disChart
            :totalnum="100"
            :warnnum="20"
          />
        </div>
      </div>

      <div class="rank-panel panel">
        <div class="title">报警总排行</div>
        <el-table
          :data="rankData"
          border
          height="350"
          style="width: 100%;margin-top: 20px;"
        >
          <el-table-column
            prop="name"
            label="节点名称"
          />
          <el-table-column
            prop="value"
            label="节点温度"
          />
          <el-table-column
            label="状态"
          >
            <template slot-scope="slot">
              <p
                :class="{
                  statusText: true,
                  warn: !+slot.row.status
                }"
              >
                {{ +slot.row.status ? '正常' : '异常' }}
              </p>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <div class="dashboard-bottom">
      <div class="temperature-panel panel">
        <div class="title">报警温度趋势</div>
        <tempChart
          :rankdata="rankData"
        />
      </div>

      <div class="info-panel panel">
        <div class="title">电量报告</div>
        <p class="tips">以下节点电量已空</p>
        <el-table
          :data="tempEmptyData"
          border
          height="350"
          style="width: 100%;margin-top: 20px;"
        >
          <el-table-column
            prop="id"
            label="ID"
          />
          <el-table-column
            prop="name"
            label="节点名称"
          />
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import disChart from '@/components/Dashboard/charts/disChart'
import tempChart from '@/components/Dashboard/charts/tempChart'

export default {
  name: 'Dashboard',
  components: { disChart, tempChart },
  data() {
    return {
      // 前十节点
      rankData: [
        { id: 1, name: '节点1', value: '1', status: 1, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 2, name: '节点2', value: '1', status: 0, data: [24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1] },
        { id: 3, name: '节点3', value: '1', status: 1, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 4, name: '节点4', value: '1', status: 0, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 5, name: '节点5', value: '1', status: 1, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 6, name: '节点6', value: '1', status: 0, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 7, name: '节点7', value: '1', status: 1, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 8, name: '节点8', value: '1', status: 0, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 9, name: '节点9', value: '1', status: 1, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] },
        { id: 10, name: '节点10', value: '1', status: 0, data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] }
      ],
      // 空电量节点，需要显示什么字段看着加
      tempEmptyData: [
        { id: 1, name: '节点一' },
        { id: 2, name: '节点二' },
        { id: 3, name: '节点三' },
        { id: 4, name: '节点四' },
        { id: 5, name: '节点五' },
        { id: 6, name: '节点六' },
        { id: 7, name: '节点七' },
        { id: 8, name: '节点八' }
      ]
    }
  },
  mounted() {
  },
  methods: {
  }
}
</script>

<style lang='scss' scoped>
.dashboard-container {
  height: calc(100vh - 50px);
  background: rgb(240, 240, 240);
  padding: 20px;
  overflow-y: hidden;
  .panel {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.0196078431372549);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    .title {
      color: #ffa100;
    }
  }
  .dashboard-top {
    display: flex;
    height: 50%;
    .summary-panel {
      flex: 1;
      height: 100%;
      overflow: hidden;
      .panel-con {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
      }
      .item {
        width: 100%;
        height: 48%;
        border-radius: 5px;
        background: rgb(250, 250, 250, 0.8);
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .href {
          color: #666;
          font-size: 12px;
          position: absolute;
          bottom: 10px;
          right: 15px;
          cursor: pointer;
        }
        .icon-circle {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          overflow: hidden;
          background: #eee;
          display: flex;
          justify-content: center;
          align-items: center;
          &>img {
            display: block;
            width: 50%;
            height: 50%;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .desc {
            font-size: 12px;
          }
          .num {
            font-size: 50px;
            color: #ffa101;
            &.red {
              color: red;
            }
          }
        }
      }
    }
    .distribute-panel {
      width: 363px;
      flex: 363px 0 0;
      .panel-con {
        height: 100%;
      }
    }
    .rank-panel {
      // width: 477px;
      // flex: 477px 0 0;
      flex: 1;
      .statusText {
        color: green;
        &.warn {
          color: red;
        }
      }
    }
  }
  .dashboard-bottom {
    display: flex;
    margin-top: 20px;
    height: 48%;
    .temperature-panel {
      width: 800px;
      flex: 800px 0 0;
      .panel-con {
        height: 100%;
      }
    }
    .info-panel {
      // width: 560px;
      // flex: 560px 0 0;
      flex: 1;
      overflow: hidden;
      .tips {
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }
}
</style>

<style lang="scss">
.dashboard-container {
  .el-table {
    * {
      font-size: 12px!important;
    }
    thead {
      color: #000;
      font-weight: bold;
    }
  }
  .el-select {
    * {
      font-size: 12px!important;
    }
  }
}
</style>
