<template>
  <section class="actual-container">
    <div class="table-header">
      <div class="l">
        <div class="table-header-item">
          <span class="table-header-item-label">
            节点ID:
          </span>
          <el-select
            v-model="tableSearchData.idValue"
            placeholder="请选择节点ID（支持输入查询)"
            filterable
            clearable
            :style="{
              width: '300px'
            }"
          >
            <el-option
              v-for="item in selectIDOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div>

        <div
          v-if="checkPermission(['admin'])"
          class="table-header-item"
        >
          <span class="table-header-item-label">
            维护人员:
          </span>
          <el-select
            v-model="tableSearchData.stickValue"
            placeholder="请选择维护人员（支持输入查询)"
            filterable
            :style="{
              width: '300px'
            }"
          >
            <el-option
              v-for="item in selectStickOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </div>

        <el-button type="primary" size="small" @click="handleSearch">查询</el-button>
      </div>
      <div class="r">
        <svg-icon icon-class="view-change" @click="changeViewType" />
      </div>
    </div>
    <div class="table-main">
      <div v-show="tableViewType === 1" class="normal-table">
        <el-table
          :data="tableData"
          style="width: 100%"
        >
          <el-table-column
            prop="id"
            label="ID"
          />
          <el-table-column
            prop="name"
            label="节点名称"
          />
          <el-table-column
            prop="lowest"
            label="下限值"
          />
          <el-table-column
            prop="highest"
            label="上限值"
          />
          <el-table-column
            prop="actual"
            label="当前值"
          />
          <el-table-column
            label="温度状态"
          >
            <template slot-scope="scope">
              {{ +scope.row.tempStatus ? '正常' : '异常' }}
            </template>
          </el-table-column>
          <el-table-column
            prop="electric"
            label="电量"
          />
          <el-table-column
            v-if="checkPermission(['admin'])"
            prop="person"
            label="所属运维人员"
          />
        </el-table>
      </div>
      <div v-show="tableViewType === 2" class="panel-table">
        <div
          v-for="(item, index) in tableData"
          :key="index"
          class="panel-table-item"
        >
          <div class="_t">
            <div class="_t_l">
              <p>ID:  {{ item.id }}</p>
              <p>节点名称: {{ item.name }}</p>
            </div>
            <div class="_t_r">
              <div
                :class="{
                  'status-tag': true,
                  'warn': !+item.tempStatus
                }"
              >{{ +item.tempStatus ? '正常': '异常' }}</div>
            </div>
          </div>
          <div class="_b">
            <barChart :options="item" />
          </div>
        </div>
      </div>
    </div>
    <div class="table-pagination">
      <el-pagination
        :current-page.sync="pageParam.page"
        :page-size="pageParam.limit"
        :total="pageParam.total"
        layout="prev, pager, next"
        @current-change="fetchData"
      />
    </div>
  </section>
</template>

<script>
import barChart from '@/components/Monitor/panelBarChart'
import checkPermission from '@/utils/permission' // 权限判断函数

export default {
  components: { barChart },
  data() {
    return {
      selectIDOptions: [{
        value: '1',
        label: '1'
      }, {
        value: '2',
        label: '2'
      }],
      selectStickOptions: [{
        value: '1',
        label: '维护人员一'
      }, {
        value: '2',
        label: '维护人员二'
      }],
      tableSearchData: {
        idValue: '',
        stickValue: ''
      },
      tableData: [],
      tableViewType: 1,
      pageParam: {
        total: 100,
        limit: 5,
        page: 1
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    checkPermission,
    fetchData() {
      setTimeout(() => {
        this.tableData = [{
          id: '1',
          name: 'XXXX',
          tempStatus: 1, // 这里先mock正常是1，异常是0，后面对接接口自己改一下
          electric: 'XXXX',
          person: 'XXXX',
          lowest: '10',
          highest: '100',
          actual: '50'
        }, {
          id: '2',
          name: 'XXXX',
          tempStatus: 0,
          electric: 'XXXX',
          person: 'XXXX',
          lowest: '10',
          highest: '100',
          actual: '50'
        }, {
          id: '3',
          name: 'XXXX',
          tempStatus: 0,
          electric: 'XXXX',
          person: 'XXXX',
          lowest: '10',
          highest: '100',
          actual: '50'
        }, {
          id: '4',
          name: 'XXXX',
          tempStatus: 1,
          electric: 'XXXX',
          person: 'XXXX',
          lowest: '10',
          highest: '100',
          actual: '50'
        }]
      }, 200)
    },
    handleSearch() {
      console.log(this.tableSearchData)
      this.fetchData()
    },
    // 视图切换
    changeViewType() {
      if (!this.tableData.length) return
      this.tableViewType = this.tableViewType === 1 ? 2 : 1
    }
  }
}
</script>

<style lang="scss" scoped>

.actual-container {
  min-height: calc(100vh - 50px);
  background: rgb(240, 240, 240);
  padding: 0 20px 20px 20px;
  .table-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .l {
      display: flex;
    }
    .r {
      .svg-icon {
        display: block;
        width: 31px;
        height: 26px;
        cursor: pointer;
        color: rgb(224, 129, 67);
      }
    }
    .table-header-item {
      display: flex;
      align-items: center;
      margin-right: 30px;
      .table-header-item-label {
        margin-right: 10px;
      }
    }
  }
  .panel-table {
    display: flex;
    flex-wrap: wrap;
    .panel-table-item {
      padding: 15px;
      background: #FFF;
      border-radius: 5px;
      margin-right: 15px;
      width: 300px;
      flex: 300px 0 0;
      margin-bottom: 15px;
      ._t {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ._t_l {
          p {
            font-size: 14px;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        ._t_r {
          .status-tag {
            font-size: 12px;
            background: rgba(4, 244, 85, 0.0980392156862745);
            color: #1DB952;
            padding: 5px;
            border-radius: 2px;
            &.warn {
              background: rgba(255, 114, 0, 0.0980392156862745);
              color: #FF7200;
            }
          }
        }
      }
      ._b {
        margin-top: 10px;
      }
    }
  }
}
</style>

<style lang="scss">
.actual-container {
  .table-main {
    .el-table {
      th {
        text-align: center;
      }
      tbody {
        tr {
          .cell {
            text-align: center;
          }
        }
      }
    }
  }
  .table-pagination {
    margin-top: 20px;
  }
}
</style>
