<template>
  <section class="user-container">
    <div class="table-header">
      <div class="l">
        <div class="table-header-item">
          <span class="table-header-item-label">
            用户名称:
          </span>
          <el-input v-model="tableSearchData.username" placeholder="请输入用户名称" />
        </div>

        <el-button type="primary" size="small" @click="handleSearch">查询</el-button>
      </div>
      <div class="r">
        <el-button
          icon="el-icon-circle-plus-outline"
          type="primary"
          size="small"
          @click="handleAddDialog"
        >
          新增
        </el-button>
      </div>
    </div>

    <div class="table-main">
      <el-table
        :data="userData"
        style="width: 100%"
      >
        <el-table-column
          prop="id"
          label="ID"
        />
        <el-table-column
          prop="username"
          label="用户名"
        />
        <el-table-column
          prop="email"
          label="报警邮箱"
        />
        <el-table-column
          prop="phone"
          label="报警电话"
        />
        <el-table-column
          label="操作"
          width="150"
        >
          <template slot-scope="scope">
            <i
              title="编辑"
              :style="{
                marginRight: '20px',
                cursor: 'pointer'
              }"
              class="el-icon-edit-outline"
              @click="handleUpdateDialog(scope.row)"
            />
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-pagination">
      <el-pagination
        :current-page.sync="pageParam.page"
        :page-size="pageParam.limit"
        :total="pageParam.total"
        layout="prev, pager, next"
        @current-change="fetchData"
      />
    </div>

    <el-dialog
      :title="dialogType === 'update' ? '用户信息设置' : '新增用户'"
      :visible.sync="dialogSettingFormVisible"
      class="user-dialog"
      width="700px"
    >
      <el-form :model="currentUserForm">
        <el-form-item label="用户名" :label-width="'120px'">
          <el-input v-model="currentUserForm.username" autocomplete="off" />
        </el-form-item>
        <el-form-item label="邮箱" :label-width="'120px'">
          <el-input v-model="currentUserForm.email" autocomplete="off" />
        </el-form-item>
        <el-form-item label="电话" :label-width="'120px'">
          <el-input v-model="currentUserForm.phone" autocomplete="off" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogSettingFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleDialogSubmit">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
export default {
  data() {
    return {
      tableSearchData: {
        username: ''
      },
      pageParam: {
        total: 100,
        limit: 5,
        page: 1
      },
      userData: [],
      dialogSettingFormVisible: false,
      currentUserForm: {
        id: '',
        username: '',
        email: '',
        phone: ''
      },
      dialogType: 'update' // update：更新已有用户信息  add: 新增用户
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      setTimeout(() => {
        this.userData = [
          {
            id: 1,
            username: '用户1',
            email: '1232131@qq.com',
            phone: '12342132'
          },
          {
            id: 2,
            username: '用户2',
            email: '1232131@qq.com',
            phone: '12342132'
          },
          {
            id: 3,
            username: '用户3',
            email: '1232131@qq.com',
            phone: '12342132'
          },
          {
            id: 4,
            username: '用户4',
            email: '1232131@qq.com',
            phone: '12342132'
          }
        ]
      })
    },
    handleSearch() {
      this.fetchData()
    },
    handleUpdateDialog(user = {}) {
      if (user.id) {
        this.dialogType = 'update'

        this.currentUserForm.id = user.id
        this.currentUserForm.username = user.username
        this.currentUserForm.email = user.email
        this.currentUserForm.phone = user.phone

        this.dialogSettingFormVisible = true
      }
    },
    handleAddDialog() {
      this.dialogType = 'add'

      this.currentUserForm.username = ''
      this.currentUserForm.email = ''
      this.currentUserForm.phone = ''

      this.dialogSettingFormVisible = true
    },
    handleDialogSubmit() {
      if (this.dialogType === 'update') {
        console.log('更新用户信息')
        console.log(this.currentUserForm)
      }

      if (this.dialogType === 'add') {
        console.log('新增用户信息')
        console.log(this.currentUserForm)
      }

      this.dialogSettingFormVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.user-container {
  min-height: calc(100vh - 50px);
  background: rgb(240, 240, 240);
  padding: 0 20px 20px 20px;
  .table-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .l {
      display: flex;
    }
    .r {
      .svg-icon {
        display: block;
        width: 31px;
        height: 26px;
        cursor: pointer;
        color: rgb(224, 129, 67);
      }
    }
    .table-header-item {
      display: flex;
      align-items: center;
      margin-right: 30px;
      .table-header-item-label {
        width: 100px;
        margin-right: 10px;
      }
    }
  }
}
</style>

<style lang="scss">
.user-container {
  .table-main {
    .el-table {
      th {
        text-align: center;
      }
      tbody {
        tr {
          .cell {
            text-align: center;
          }
        }
      }
    }
  }
  .table-pagination {
    margin-top: 20px;
  }
  .user-dialog {
    .el-form-item {
      width: 500px;
    }
  }
}
</style>
