<template>
  <div />
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters([
      'roles'
    ])
  },
  created() {
    // const fromRole = this.$route.query.role
    // if (fromRole === 'admin') {
    //   this.$router.replace('/user/index')
    // }
    // if (fromRole === 'editor') {
    //   this.$router.replace('/dashboard/index')
    // }
    if (this.roles.includes('admin')) {
      this.$router.replace('/user/index')
    } else {
      this.$router.replace('/dashboard/index')
    }
  }
}
</script>
